{
  "openapi": "3.0.0",
  "info": {
    "title": "Cloudhub",
    "description": "A comprehensive set of RESTful services, allowing you to seamlessly integrate with Trimble Transportation Management Systems (TruckMate, Suite, and ICC) in a unified way.",
    "version": "0",
    "termsOfService": "https://www.trimble.com/en/legal/developer-terms"
  },
  "servers": [
    {
      "url": "https://cloud.api.trimble.com/transportation/tte-truckmate/v0"
    }
  ],
  "tags": [
    {
      "name": "Accessorial Charge Codes",
      "description": "The Accessorial Charge Codes endpoints within CloudHub allows for retrieving Transportation Management System (TMS) specific accessorial charge code records. The records are pulled directly from each TMS."
    },
    {
      "name": "Commodities",
      "description": "The Commodities endpoints within CloudHub allows for retrieving Transportation Management System (TMS) specific commodity records. The records are pulled directly from each TMS."
    },
    {
      "name": "Contacts",
      "description": "The Contacts endpoints within CloudHub allows for retrieving Transportation Management System (TMS) specific contact records. The records are pulled directly from each TMS."
    },
    {
      "name": "Documents",
      "description": "The Documents endpoints within CloudHub allows for public viewing of specific imaging documents through a URL linked with a time sensitive token."
    },
    {
      "name": "Drivers",
      "description": "The Drivers endpoints within Cloudhub allows for retrieving Transportation Management System (TMS) specific drivers records. The records are pulled directly from each TMS."
    },
    {
      "name": "Freight Orders",
      "description": "The Freight Orders endpoints within CloudHub allows for retrieving Transportation Management System (TMS) specific order records. The records are pulled directly from each TMS."
    },
    {
      "name": "Network Partners",
      "description": "The Network Partners endpoints within CloudHub allows for retrieving Transportation Management System (TMS) specific customer records. The records are pulled directly from each TMS."
    },
    {
      "name": "Position Events",
      "description": "The Position Events endpoints within CloudHub allows for creating Transportation Management System (TMS) specific position event records."
    },
    {
      "name": "Quotes",
      "description": "The Quotes endpoint within CloudHub allows for requesting a new quote directly from the Transportation Management System (TMS). Historical quotes can also be retrieved from each TMS. Existing quotes can be converted into a new tender or freight order."
    },
    {
      "name": "Service Levels",
      "description": "The Service Levels endpoints within CloudHub allows for retrieving Transportation Management System (TMS) specific service level records. The records are pulled directly from each TMS."
    },
    {
      "name": "Shipment Status Events",
      "description": "The Shipment Status Events endpoints within CloudHub allows for creating Transportation Management System (TMS) specific shipment status changes."
    },
    {
      "name": "Status Codes",
      "description": "The Status Codes endpoints within Cloudhub allows for retrieving Transportation Management System (TMS) specific status codes. The records are pulled directly from each TMS."
    },
    {
      "name": "Stop Status Events",
      "description": "The Stop Status Events endpoints within CloudHub allows for creating Transportation Management System (TMS) specific stop status changes."
    },
    {
      "name": "Trace Types",
      "description": "The Trace Types endpoints within CloudHub allows for retrieving Transportation Management System (TMS) specific trace type records. The records are pulled directly from each TMS."
    },
    {
      "name": "Trips",
      "description": "The Trips endpoints within CloudHub allows for retrieving Transportation Management System (TMS) specific trip records. The records are pulled directly from each TMS."
    },
    {
      "name": "UN Numbers",
      "description": "The UN numbers endpoints within Cloudhub allows for retrieving Transportation Management System (TMS) specific UN number records. The records are pulled directly from each TMS."
    },
    {
      "name": "Units",
      "description": "The Units endpoints within Cloudhub allows for retrieving Transportation Management System (TMS) specific unit of measurement records. The records are pulled directly from each TMS."
    },
    {
      "name": "Version",
      "description": "The Version endpoints within Cloudhub allows for retrieving Transportation Management System (TMS) specific version records. The records are pulled directly from each TMS."
    },
    {
      "name": "Whoami",
      "description": "Retrieves identity of the user associated with the provided authorization method from the Transportation Management System (TMS)."
    },
    {
      "name": "Zones",
      "description": "The Zones endpoints within Cloudhub allows for retrieving Transportation Management System (TMS) specific zone code records. The records are pulled directly from each TMS."
    }
  ],
  "externalDocs": {
    "url": "https://learn.transportation.trimble.com/"
  },
  "paths": {
    "/aChargeCodes": {
      "get": {
        "summary": "Retrieve accessorial charge codes",
        "description": "Retrieves accessorial charge code records from the TMS.",
        "operationId": "GetAChargeCodes",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Accessorial Charge Codes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AChargeCodes"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/aChargeCodes/{aChargeCodeId}": {
      "get": {
        "summary": "Retrieve an accessorial charge code",
        "description": "Retrieves an accessorial charge code record from the TMS.",
        "operationId": "GetAChargeCode",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Accessorial Charge Codes"
        ],
        "parameters": [
          {
            "name": "aChargeCodeId",
            "in": "path",
            "description": "accessorial charge code identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/select"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AChargeCode"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/commodities": {
      "get": {
        "operationId": "GetCommodities",
        "tags": [
          "Commodities"
        ],
        "summary": "Retrieve commodities",
        "description": "Retrieves commodity records from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Commodities"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/commodities/{generalCommodity}": {
      "get": {
        "operationId": "GetCommodity",
        "tags": [
          "Commodities"
        ],
        "summary": "Retrieve a commodity",
        "description": "Retrieves a commodity record from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "generalCommodity",
            "in": "path",
            "description": "commodity identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/select"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Commodity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "GetContacts",
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve contacts",
        "description": "Retrieves contact records from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/ContactsExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contacts"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "operationId": "GetContact",
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve a contact",
        "description": "Retrieves a contact record from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "contact identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/ContactsExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/documents": {
      "get": {
        "summary": "Retrieve documents configuration",
        "description": "Retrieves documents configurations from the TMS.",
        "operationId": "GetDocuments",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocuments"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{documentType}/searchValues/{documentIdentifier}/{documentFormat}": {
      "get": {
        "summary": "Retrieve a document from the image system",
        "description": "Retrieves a document from the imaging server.\nThe document type and document identifier path parameters are used along with the token provided in the query string to determine access to the document.\nDocuments will be converted and returned in the specified document format (only PDF is supported at this time).",
        "operationId": "GetDocument",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "documentType",
          "in": "path",
          "description": "document type",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "documentIdentifier",
          "in": "path",
          "description": "document identifier",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "documentFormat",
          "in": "path",
          "description": "Format in which to return document (only PDF is supported currently)",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "token",
          "in": "query",
          "description": "Time sensitive access token",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/documents/{documentType}/searchValues/{documentIdentifier}/token": {
      "post": {
        "summary": "Generate document access token",
        "description": "Generates a time sensitive token to be used in subsequent calls to retrieve the specific document from the imaging system.\nThe document type, as configured in the imaging system, and a document identifier are required path parameters.",
        "operationId": "PostToken",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "description": "A single JSON object containing the length of time the token should be valid. Default expiry is one week, if no payload is provided.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentTokenPostRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentToken"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "documentType",
          "in": "path",
          "description": "document type",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "documentIdentifier",
          "in": "path",
          "description": "document identifier",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/drivers": {
      "get": {
        "summary": "Retrieve drivers",
        "description": "Retrieves driver records.",
        "operationId": "GetDrivers",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Drivers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/DriverExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDrivers200"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postDriver",
        "tags": [
          "Drivers"
        ],
        "summary": "Create a driver",
        "description": "Create a new driver record in the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postTMDriver"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/driver"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/drivers/{id}": {
      "get": {
        "operationId": "GetDriver",
        "tags": [
          "Drivers"
        ],
        "summary": "Retrieve a driver",
        "description": "Retrieves a driver record from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "id",
            "in": "path",
            "description": "driver identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/DriverExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/driver"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a driver",
        "description": "Updates a driver record from the TMS.",
        "operationId": "PutDriver",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Drivers"
        ],
        "requestBody": {
          "description": "A single JSON object containing the properties of the driver record change.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putTMDriver"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/driver"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "driver identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/drivers/{id}/availability": {
      "get": {
        "operationId": "GetDriversAvailability",
        "tags": [
          "Drivers"
        ],
        "summary": "Retrieve a driver's availability",
        "description": "Retrieves a driver's availability record from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "id",
            "in": "path",
            "description": "driver identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/driverAvailability"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/freightOrders": {
      "get": {
        "operationId": "GetFreightOrders",
        "tags": [
          "Freight Orders"
        ],
        "summary": "Retrieve freight orders",
        "description": "Retrieves freight order records from the TMS. Freight orders are a collection of freight items that are moved from one or more locations to one or more other locations using a common freight equipment type, hauling mode, carrier, and transit service level. An empty load moves equipment only without any freight.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/FOExpand"
          },
          {
            "$ref": "#/components/parameters/freightOrderType"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/freightOrders"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postFreightOrder",
        "tags": [
          "Freight Orders"
        ],
        "summary": "Create a freight order",
        "description": "Create a new freight order record in the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postTMFreightOrder"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/freightOrderType"
          },
          {
            "$ref": "#/components/parameters/FOSaveAsDraft"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/freightOrder"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/freightOrders/{id}": {
      "get": {
        "summary": "Retrieve a freight order",
        "description": "Retrieves freight order record from the TMS.",
        "operationId": "GetFreight",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Freight Orders"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/freightOrder"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "freight order identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/FOExpand"
          },
          {
            "$ref": "#/components/parameters/freightOrderType"
          }
        ]
      },
      "put": {
        "summary": "Update a freight order",
        "description": "Updates a freight order record from the TMS.",
        "operationId": "PutFreight",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Freight Orders"
        ],
        "requestBody": {
          "description": "A single JSON object containing the properties of the freight order record change.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putTMFreightOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/freightOrder"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "freight order identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/freightOrderType"
          }
        ]
      }
    },
    "/networkPartners": {
      "get": {
        "operationId": "GetNetworkPartners",
        "tags": [
          "Network Partners"
        ],
        "summary": "Retrieve Network Partners",
        "description": "Retrieves network partner records from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkPartners"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/networkPartners/{id}": {
      "get": {
        "operationId": "GetNetworkPartner",
        "tags": [
          "Network Partners"
        ],
        "summary": "Retrieve a Network Partner",
        "description": "Retrieves a network partner record from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "network partner identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/select"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkPartner"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quotes": {
      "get": {
        "summary": "Retrieve quotes",
        "description": "Retrieves quotes records from the TMS.",
        "operationId": "getQuotes",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/QuotesExpand"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuotes200"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postQuotes",
        "tags": [
          "Quotes"
        ],
        "summary": "Create a Quote",
        "description": "Create a new quote record in the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postQuotes"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quote"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/serviceLevels": {
      "get": {
        "summary": "Retrieve service levels",
        "description": "Retrieves service level records from the TMS.",
        "operationId": "GetServiceLevels",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Service Levels"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServiceLevels200"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/serviceLevels/{serviceLevelId}": {
      "get": {
        "summary": "Retrieve a service level",
        "description": "Retrieves a service level record from the TMS.",
        "operationId": "GetServiceLevel",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Service Levels"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceLevel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "serviceLevelId",
          "in": "path",
          "description": "service level identifier",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/shipmentStatusEvents": {
      "post": {
        "operationId": "postShipmentStatusEvents",
        "tags": [
          "Shipment Status Events"
        ],
        "summary": "Create shipment status events",
        "description": "Create new shipment status event records.",
        "security": [
          {
            "tidJwtAuth": []
          }
        ],
        "requestBody": {
          "description": "A shipment status event object to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/postShipmentStatusEvent"
                  },
                  {
                    "$ref": "#/components/schemas/postShipmentStatusEventData"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shipmentStatusEvent201"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stopStatusEvents": {
      "post": {
        "operationId": "postStopStatusEvent",
        "tags": [
          "Stop Status Events"
        ],
        "summary": "Create stop status events",
        "description": "Create new stop status event records.",
        "security": [
          {
            "tidJwtAuth": []
          }
        ],
        "requestBody": {
          "description": "A stop status event object to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postStopStatusEvent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stopStatusEvent201"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/statusCodes": {
      "get": {
        "summary": "Retrieve status codes",
        "description": "Retrieves status code records from the TMS.",
        "operationId": "GetStatuses",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Status Codes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/select"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatuses200"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/statusCodes/{statusCodeId}": {
      "get": {
        "summary": "Retrieves a status code",
        "description": "Retrieves status code record from the TMS.",
        "operationId": "GetStatus",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Status Codes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/select"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/statusCode"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "statusCodeId",
          "in": "path",
          "description": "status code identifier",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/traceTypes": {
      "get": {
        "summary": "Retrieve trace types",
        "description": "Retrieves trace types records from the TMS.",
        "operationId": "GetTraceTypes",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Trace Types"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/select"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTraceTypes200"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/traceTypes/{traceTypeId}": {
      "get": {
        "summary": "Retrieves a trace type",
        "description": "Retrieves a trace type record from the TMS.",
        "operationId": "GetTraceTypesId",
        "security": [
          {
            "tidJwtAuth": []
          }
        ],
        "tags": [
          "Trace Types"
        ],
        "parameters": [
          {
            "name": "traceTypeId",
            "in": "path",
            "description": "trace types path parameter",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/traceType"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trips": {
      "get": {
        "summary": "Retrieve trips",
        "description": "Retrieves trip records from the TMS.",
        "operationId": "GetTrips",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Trips"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/tripsExpand"
          },
          {
            "$ref": "#/components/parameters/codeBehavior"
          },
          {
            "$ref": "#/components/parameters/loadOfferOnly"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTrips200"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trips/{tripNumber}": {
      "get": {
        "summary": "Retrieve a trip",
        "description": "Retrieves a trip record from the TMS.",
        "operationId": "GetTrip",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Trips"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trip"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "tripNumber",
          "in": "path",
          "description": "trip identifier",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "$ref": "#/components/parameters/select"
        },
        {
          "$ref": "#/components/parameters/tripsExpand"
        }
      ]
    },
    "/trips/{tripNumber}/carriers/{loadSummaryId}": {
      "put": {
        "summary": "Updates a carrier load summary record for the trip and load.",
        "description": "Updates a trip carrier load summary record for the trip and load from the TMS.",
        "operationId": "PutTripCarrier",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Trips"
        ],
        "requestBody": {
          "description": "A single JSON object containing the properties of the trip carrier change.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutTripCarrierRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTripCarrierResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "tripNumber",
          "in": "path",
          "description": "trip identifier",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "loadSummaryId",
          "in": "path",
          "description": "trip carrier summary identifier",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    },
    "/trips/{tripNumber}/status": {
      "put": {
        "summary": "Update status to a trip",
        "description": "Updates a trip record's status from the TMS.",
        "operationId": "PutTripStatus",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Trips"
        ],
        "requestBody": {
          "description": "A single JSON object containing the properties of the status change. Both the status code and zone must be sent with the request.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutTripStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTripStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tripNumber",
            "in": "path",
            "description": "trip identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/trips/{tripNumber}/tripHistory": {
      "get": {
        "summary": "Retrieve trip status history",
        "description": "Retrieves status history records for the specified trip.\n\n Use the $filter parameter to apply an oData filter on the status property to exclude POSITION updates.\n\n For example:\n\n* $filter=status ne POSITION\n\n Trip status history can be viewed on the Trip Envelope Processing application > shortcut menu > Trip Status History window.",
        "operationId": "TripsGetTripStatuses",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Trips"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripsGetTripStatuses200"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "tripNumber",
          "in": "path",
          "description": "trip identifier",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "$ref": "#/components/parameters/filter"
        },
        {
          "$ref": "#/components/parameters/select"
        }
      ]
    },
    "/unNumbers": {
      "get": {
        "operationId": "GetUnNumbers",
        "tags": [
          "UN Numbers"
        ],
        "summary": "Retrieve UN Numbers",
        "description": "Retrieve UN Numbers records from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnNumbers200"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/unNumbers/{unNumberId}": {
      "get": {
        "operationId": "GetUnNumber",
        "tags": [
          "UN Numbers"
        ],
        "summary": "Retrieve a UN Number",
        "description": "Retrieve a UN Number record from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "unNumberId",
            "in": "path",
            "description": "unNumber identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unNumber"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/units": {
      "get": {
        "operationId": "GetUnits",
        "tags": [
          "Units"
        ],
        "summary": "Retrieve units of measurement",
        "description": "Retrieve unit of measurement records from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnits"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/units/{unitId}": {
      "get": {
        "operationId": "GetUnit",
        "tags": [
          "Units"
        ],
        "summary": "Retrieve a unit of measurement",
        "description": "Retrieve a unit of measurement record from the TMS.",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "unitId",
            "in": "path",
            "description": "unit identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnit"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "summary": "Retrieve the cloudhub version",
        "description": "Retrieves the version information of the related internal cloudhub version number.",
        "operationId": "GetVersion",
        "tags": [
          "Version"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/version"
                }
              }
            }
          }
        }
      }
    },
    "/whoami": {
      "get": {
        "summary": "Get authenticated user",
        "description": "Get information about this authenticated user, including TMS specific access.",
        "operationId": "GetWhoAmI",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Whoami"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/whoami"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/zones": {
      "get": {
        "summary": "Retrieve zone codes",
        "description": "Retrieves zone code records that can be used to specify zones for a freight bill or a trip.",
        "operationId": "GetZones",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pageIndex"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/select"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetZones200"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        }
      }
    },
    "/zones/{zoneId}": {
      "get": {
        "summary": "Retrieve a zone",
        "description": "Retrieves a zone code record that can be used to specify zones for a freight bill or a trip.",
        "operationId": "GetZone",
        "security": [
          {
            "tidJwtAuth": [

            ]
          }
        ],
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "zoneId",
[...]
